<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="google" content="notranslate">
  </head>
  <body>
    <div id="wrap_main">
      <div id="wrap_header">
        <%- include('header', this) %>
      </div>
      <div id="wrap_content">
        <%- include(layout, this) %>
      </div>
    </div>
  </body>
</html>