<html>
<head>
</head>
<body>
<h1>Keyword Search</h1>
<input id="search_text" type="text"><input id="search_button" type="button" value="search">
<div id="search_out"></div>
<script src="/js/http.js"></script>
<script src="/js/client.js"></script>
</body>
</html>