<h1>Fresh By Month</h1>
<span><a href="/">home</a></span><br>

<%
var genYearLinks = function(ys, ye, name, dayBackOptions){
   name = name === undefined ? ys: name;
   dayBackOptions = dayBackOptions === undefined ? [1,7,30,90,180,365,356*3,356*5,356*10]: dayBackOptions;
   var html = '<span>' + name + ': | ';
   dayBackOptions.forEach(function(dayBack){
       html += '<a href=\"/all/?d=' + dayBack + '&ys=' + ys + '&ye=' + ye +'\"> (' + dayBack +') </a> | ';
   
   });
   return html += '</span><br>';
};
%>
<%- genYearLinks(1983,2053,'all') %>
<%- genYearLinks(2017,2017) %>
<%- genYearLinks(2018,2018) %>
<%- genYearLinks(2019,2019) %>
