<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="google" content="notranslate">
  </head>
  <body>
     <h1>Fresh By Cat</h1>
	 <% for( var cat in report ){ %>
	    <%= cat %>
	 <% } %>
  </body>
</html>