/* body*/
body{
	color:white;
	background:black;
	
}



/* table basics */
table{
	width:100%;
}
table, th, td {
  border: 1px solid #8a8a8a;
}



/* month title */
.month_title{
	font-size: 24pt;
}
.month_rank{
	color: black;
	background:white;
}
.month_key{
	text-decoration: underline;
}
.month_fresh{
	color: black;
	background:white;
}



/* fresh styles */
.fresh_old{
	color:red;
}
.fresh_middle{
	color:orange;
}
.fresh_new{
	color:green;
}

.fresh_0{
	color:red;
}
.fresh_25{
	color:orange;
}
.fresh_50{
	color:green;
}
.fresh_75{
	color:lime;
}

/* word count styles*/
.wordcount_0{
	color:red;
}
.wordcount_500{
	color:orange;
}
.wordcount_1000{
	color:green;
}
.wordcount_1800{
	color:lime;
}