/* body*/
body{
	color:white;
	background:black;
	
}



/* table basics */
table{
	width:100%;
}
table, th, td {
  border: 1px solid white;
}



/* month title */
.month_title{
	font-size: 24pt;
}
.month_key{
	text-decoration: underline;
}
.month_fresh{
	color: black;
	background:white;
	padding:5px;
}



/* fresh styles */
.fresh_old{
	color:red;
}
.fresh_middle{
	color:orange;
}
.fresh_new{
	color:green;
}